/*boton general, para igualar el formato de todos los botones*/
.boton-principal {
    background-color: $color-boton;
    font-family: $tipogragia;
    color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
    /*para que el boton se despegue del fondo se utiliza box-shadow*/
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 5px black;
}

/*efecto cuando se posicionan sobre botones de la pagina*/
.boton-principal:hover {
    box-shadow: 1px 1px 2px black;
    background-color: $color-boton;
    color: whitesmoke;
    @extend %estilo-sobre;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #fff9f9;
    border-radius: 50%;
    border-top: 16px solid #4110c7;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}