/*boton general, para igualar el formato de todos los botones*/
.boton-principal {
    background-color: $color-boton;
    font-family: $tipogragia;
    color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
    /*para que el boton se despegue del fondo se utiliza box-shadow*/
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 5px black;
}

/*efecto cuando se posicionan sobre botones de la pagina*/
.boton-principal:hover {
    box-shadow: 1px 1px 2px black;
    background-color: $color-boton;
    color: whitesmoke;
    @extend %estilo-sobre;
}