//estilos del index principal
.principal {
    @include flex;
    
    .formulario {
        text-align: center;
        @extend %estilos-margenes;
    }

    .box-recorda {
        text-align: left;
        color: white;
    }

    .section-1 {
        .resultado-1 {
            span {
                font-weight: bold;
            }
        }
    }

    .section-2 {
        text-align: center;
        @extend %estilos-margenes;
    }

    .section-3 {
        text-align: center;
        @extend %estilos-margenes;
        .tabla-simulacion {  
            border-collapse: collapse;
            width: 100%;
        }
    }

}